* {
  font-family: "K2D";
}
/* color */
.bg-coklat {
  background-color: #deaa79;
}

.kuning {
  color: #FFB200;
}

.abu {
  color: #8D8D8D;
}

.biru {
  color: #7E94FF;
}

.biru-tua {
 background-color: #021526;
}
/* color end */

/* nav */
.logo:hover {
  text-decoration: underline;
}

ul li .nav-link:hover {
  text-decoration: underline;
}

.btn-login {
  width: 80px;
  justify-items: center;
  color: white;
  border: #fff 1px solid;
  padding: 5px 80px 5px 45px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-login:hover {
  width: 80px;
  color: black;
  border: #fff 1px solid;
  padding: 5px 80px 5px 45px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Gaya default navbar (ketika berada di posisi header) */
.nav-style {
  transition: background-color 0.3s ease;
  z-index: 9999;
}
/* nav end */

/* hero */
.btn-explore {
  color: white;
  border: #fff 1px solid;
  padding: 10px 70px 10px 70px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-explore:hover {
  color: black;
  border: #fff 1px solid;
  padding: 10px 70px 10px 70px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}
/* hero end */

/* info */
.info {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 830px;
  width: 50%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* info end */

/* destination */
.destination {
  margin-top: 130px;
  margin-bottom: 10px;
}
/* destination end */

/* package */
.btn-biru-gelap {
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #021526;
}
.btn-biru-gelap:hover {
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #021526e5;
}
/* package end */

/* search */
.search {
  background-color: #021526;
  color: white;
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

.btn-biru-gelap-search {
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #021526;
}
.btn-biru-gelap-search:hover {
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #021526e5;
}

/* slider */
/* Container slider */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

/* Slider wrapper */
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 350px;
}

/* Setiap slide */
.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

/* Tombol navigasi */
.prev, .next {
  position: absolute;
  top: 92%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

.next {
  margin-left: 50px;
}

/* Hover efek untuk tombol */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* search end */

/* bobby */
.btn-ask-bobby{
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: 1px solid white;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.btn-ask-bobby:hover{
  color: #021526;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: white;
}
/* bobby end */

/* contact */

/* contact end */

/* footer */
.footer {
  background-color: #021526;
}

.nav-foot ul li a {
  text-decoration: none;
  color: white;
}
.nav-foot ul li a:hover {
  text-decoration: underline;
  color: white;
}
/* footer end */
