* {
  font-family: "K2D";
}
/* color */
.bg-coklat {
  background-color: #deaa79;
}

.kuning {
  background-color: #fcf596;
}

.abu {
  color: #8D8D8D;
}

/* color end */

/* nav */
.logo:hover {
  text-decoration: underline;
}

ul li .nav-link:hover {
  text-decoration: underline;
}

.btn-login {
  width: 80px;
  justify-items: center;
  color: white;
  border: #fff 1px solid;
  padding: 5px 80px 5px 45px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-login:hover {
  width: 80px;
  color: black;
  border: #fff 1px solid;
  padding: 5px 80px 5px 45px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Gaya default navbar (ketika berada di posisi header) */
.nav-style {
  transition: background-color 0.3s ease;
  z-index: 9999;
}
/* nav end */

/* hero */
.btn-explore {
  color: white;
  border: #fff 1px solid;
  padding: 10px 70px 10px 70px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-explore:hover {
  color: black;
  border: #fff 1px solid;
  padding: 10px 70px 10px 70px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}
/* hero end */

/* info */
.info {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 560px;
  width: 50%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* info end */

/* destination */
.destination {
  margin-top: 130px;
  margin-bottom: 150px;
}
/* destination end */

/* package */
.btn-biru-gelap {
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #021526;
}
.btn-biru-gelap:hover {
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #021526e5;
}
/* package end */

/* search */
.search {
  background-color: #021526;
  color: white;
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

.btn-dropdown-search {
  width: 500px;
  width: 50px;
}
/* search end */

/* footer */
.footer {
  background-color: #021526;
}
/* footer end */
